.anjay {
    padding-left: 5%;
    padding-right: 5%;
}

input[type=submit] {
    padding:5px 15px; 
    background: skyblue; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}